.App{
  width: 100vw;
  height: 100vw;
  background-color: brown;
  color: white;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  background-color: brown;
  border: none;
}